:root {
  --SLATE: #434455;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffffff;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}
body {
  background-color: #ffffffff;
  color: #434455;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* classes */
.button-allingment {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}
.navi-menu {
  font-family: var(--text-font-family);
  background-color: var(--CLOUD);
  color: var(--IRIS);
  cursor: pointer;
  border: rgb(0, 0, 0);
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.navi-menu:hover,
.navi-menu:focus {
  background-color: var(--OCEAN);
  color: var(--WHITE);
}
.subtitle-portfolio-img {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}
.subtitle-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
/* logo section */
.logo-webstudio {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS), #4d5ae5;
}

.studio-icon {
  color: var(--NAVY-BLUE);
}
/* list section */
.list {
  list-style: none;
}
.list-item {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2em;
}
.link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
}
.link:hover,
.link:focus {
  color: var(--OCEAN);
}
.contact-item {
  color: var(--SLATE);
}
.address-item {
  font-style: normal;

  /* title section */
}
.title-section {
  background-color: var(--NAVY-BLUE);
  color: var(--WHITE);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
}
.book-service-button {
  font-family: var(--text-font-family);
  background-color: var(--IRIS);
  color: var(--WHITE);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
}
.book-service-button:hover,
:focus {
  background-color: var(--OCEAN);
}

.What-Are-We-Doing-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team-section {
  background-color: var(--CLOUD);
}
.our-team-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  background-color: var(--WHITE);
}
.h3-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.paragraf-item {
  color: var(--SLATE);
  text-align: center;
  background-color: var(--WHITE);
}
/* footer section */
footer {
  background-color: var(--NAVY-BLUE);
}
.logo-webstudio {
  color: var(--IRIS);
}
.studio-item-foother {
  color: var(--CLOUD);
}
.footer-text {
  color: var(--CLOUD);
}
